<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS.

    Here you should place the cursor at Date field and manually type as DD-MM-YYYY.

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [2]:
# !pip install sqlalchemy==1.3.9
# !pip install ibm_db_sa
# !pip install ipython-sql

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [2]:
%sql ibm_db_sa://rmr30372:VjfvZugVTILOxqqs@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/bludb?security=SSL

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
'sqlalchemy.cimmutabledict.immutabledict' object does not support item deletion
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [13]:
%sql ibm_db_sa://

(ibm_db_dbi.InterfaceError) ibm_db_dbi::InterfaceError: connect expects a not None dsn value
(Background on this error at: https://sqlalche.me/e/14/rvf5)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Connect to database with IBM Data Server Driver for ODBC and CLI APIs
Trying to establish connection to the cloud database but faced problems(see above), so we tried another method.
Ibm_db API uses the IBM Data Server Driver for ODBC and CLI APIs to connect to IBM DB2 and Informix.

In [5]:
import ibm_db

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"            
dsn_hostname = "b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"            
dsn_port = "32716"                     
dsn_protocol = "TCPIP"            
dsn_uid = "rmr30372"                 
dsn_pwd = "VjfvZugVTILOxqqs"               
dsn_security = "SSL"

dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  rmr30372 on host:  b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [7]:
selectQuery = "SELECT DISTINCT(LAUNCH_SITE) FROM SPACEXTBL;"
selectStmt = ibm_db.exec_immediate(conn, selectQuery)
while ibm_db.fetch_row(selectStmt) != False:
   print (" Launch_Site:",  ibm_db.result(selectStmt, 0))

 Launch_Site: CCAFS LC-40
 Launch_Site: CCAFS SLC-40
 Launch_Site: KSC LC-39A
 Launch_Site: VAFB SLC-4E

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [16]:
selectQuery = "SELECT * FROM SPACEXTBL WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5;"
selectStmt = ibm_db.exec_immediate(conn, selectQuery)
while ibm_db.fetch_row(selectStmt) != False:
    for i in range(10):
      print(ibm_db.result(selectStmt, i),end='')
    print("")

2010-06-0418:45:00F9 v1.0  B0003CCAFS LC-40Dragon Spacecraft Qualification Unit0LEOSpaceXSuccessFailure (parachute)
2010-12-0815:43:00F9 v1.0  B0004CCAFS LC-40Dragon demo flight C1, two CubeSats, barrel of Brouere cheese0LEO (ISS)NASA (COTS) NROSuccessFailure (parachute)
2012-05-2207:44:00F9 v1.0  B0005CCAFS LC-40Dragon demo flight C2525LEO (ISS)NASA (COTS)SuccessNo attempt
2012-10-0800:35:00F9 v1.0  B0006CCAFS LC-40SpaceX CRS-1500LEO (ISS)NASA (CRS)SuccessNo attempt
2013-03-0115:10:00F9 v1.0  B0007CCAFS LC-40SpaceX CRS-2677LEO (ISS)NASA (CRS)SuccessNo attempt

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [25]:
selectQuery = "SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE Customer = 'NASA (CRS)';"
selectStmt = ibm_db.exec_immediate(conn, selectQuery)
while ibm_db.fetch_row(selectStmt) != False:
    print("total payload mass carried by boosters launched by NASA (CRS) :",ibm_db.result(selectStmt, 0))

total payload mass carried by boosters launched by NASA (CRS) : 45596

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [29]:
selectQuery = "SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE BOOSTER_VERSION = 'F9 v1.1';"
selectStmt = ibm_db.exec_immediate(conn, selectQuery)
while ibm_db.fetch_row(selectStmt) != False:
    print("average payload mass carried by booster version F9 v1.1 :",ibm_db.result(selectStmt, 0))

average payload mass carried by booster version F9 v1.1 : 2928

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [36]:
selectQuery = "SELECT min(DATE) FROM SPACEXTBL WHERE LANDING__OUTCOME = 'Success (ground pad)';"
selectStmt = ibm_db.exec_immediate(conn, selectQuery)
while ibm_db.fetch_row(selectStmt) != False:
    print("the date when the first successful landing outcome in ground pad was acheived :",ibm_db.result(selectStmt, 0))

the date when the first successful landing outcome in ground pad was acheived : 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [38]:
selectQuery = "SELECT BOOSTER_VERSION FROM SPACEXTBL WHERE LANDING__OUTCOME = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000;"
selectStmt = ibm_db.exec_immediate(conn, selectQuery)
print('the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000')
while ibm_db.fetch_row(selectStmt) != False:
    print(ibm_db.result(selectStmt, 0))

the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7

##### List the total number of successful and failure mission outcomes

In [46]:
selectQuery = "SELECT count(*) FROM SPACEXTBL WHERE MISSION_OUTCOME like 'Success%';"
selectQuery1 = "SELECT count(*) FROM SPACEXTBL WHERE MISSION_OUTCOME like 'Failure%';"
selectStmt = ibm_db.exec_immediate(conn, selectQuery)
while ibm_db.fetch_row(selectStmt) != False:
    print("the total number of successful mission outcomes",ibm_db.result(selectStmt, 0))
selectStmt1 = ibm_db.exec_immediate(conn, selectQuery1)
while ibm_db.fetch_row(selectStmt1) != False:
    print("the total number of failure mission outcomes",ibm_db.result(selectStmt1, 0))

the total number of successful mission outcomes 100
the total number of failure mission outcomes 1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [47]:
selectQuery="""SELECT BOOSTER_VERSION FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_=(
                SELECT MAX(PAYLOAD_MASS__KG_) 
                FROM SPACEXTBL);"""
selectStmt = ibm_db.exec_immediate(conn, selectQuery)
print("names of the booster_versions which have carried the maximum payload mass.")
while ibm_db.fetch_row(selectStmt) != False:
    print("Booster_version :",ibm_db.result(selectStmt, 0))

names of the booster_versions which have carried the maximum payload mass.
Booster_version : F9 B5 B1048.4
Booster_version : F9 B5 B1049.4
Booster_version : F9 B5 B1051.3
Booster_version : F9 B5 B1056.4
Booster_version : F9 B5 B1048.5
Booster_version : F9 B5 B1051.4
Booster_version : F9 B5 B1049.5
Booster_version : F9 B5 B1060.2
Booster_version : F9 B5 B1058.3
Booster_version : F9 B5 B1051.6
Booster_version : F9 B5 B1060.3
Booster_version : F9 B5 B1049.7

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [49]:
selectQuery="""SELECT BOOSTER_VERSION, LAUNCH_SITE 
                FROM SPACEXTBL 
                WHERE LANDING__OUTCOME = 'Failure (drone ship)' 
                AND Date BETWEEN '2015-01-01' AND '2015-12-31';"""
selectStmt=ibm_db.exec_immediate(conn,selectQuery)
while ibm_db.fetch_row(selectStmt):
    print("Booster_version : ",ibm_db.result(selectStmt, 0),"LAUNCH_SITE : ",ibm_db.result(selectStmt, 1))

Booster_version :  F9 v1.1 B1012 LAUNCH_SITE :  CCAFS LC-40
Booster_version :  F9 v1.1 B1015 LAUNCH_SITE :  CCAFS LC-40

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [57]:
selectQuery="""SELECT LANDING__OUTCOME, COUNT(LANDING__OUTCOME) as cnt
        FROM SPACEXTBL
        WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20'
        GROUP BY LANDING__OUTCOME
        ORDER BY cnt DESC;"""
selectStmt=ibm_db.exec_immediate(conn,selectQuery)
while ibm_db.fetch_row(selectStmt):
    print("LANDING__OUTCOME : ",ibm_db.result(selectStmt, 0),"count :",ibm_db.result(selectStmt, 1))

LANDING__OUTCOME :  No attempt count : 10
LANDING__OUTCOME :  Failure (drone ship) count : 5
LANDING__OUTCOME :  Success (drone ship) count : 5
LANDING__OUTCOME :  Controlled (ocean) count : 3
LANDING__OUTCOME :  Success (ground pad) count : 3
LANDING__OUTCOME :  Failure (parachute) count : 2
LANDING__OUTCOME :  Uncontrolled (ocean) count : 2
LANDING__OUTCOME :  Precluded (drone ship) count : 1

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>